<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span> Due: <%= el.dateDue %></span>
                <span> Days remaining: <%= Math.ceil((new Date(Date.parse(el.dateDue)).getTime() - new Date().getTime() )/ (1000 * 3600 *24))%></span>
                <span class='del'> Delete </span>
                <!-- * nshoemake -->
                <!-- ! Added form submission for username, submitting this will "push" the task to the other user (it will show up on their views) -->
                <form action="/todos/shareTodo" method='POST'>
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="todoId" value="<%=el._id%>">
                    <input type="text" placeholder="Enter Username" name='shareWithUserId'>
                    <input type="submit">
                </form>
            </li>
    <% }) %>    
    </ul>

    <!--
        mdcv: the following lists separate all of the User's tasks according to what category it's related to. Marking a task off in the category will also
        mark it off in the Master list. Delete works in this manner as well.

        To implement: I just added a nested if statement inside of the forEach to filter out the tasks based on the category property
    
    -->
    <h2>Category: Food</h2>
    <ul>
        <% todos.forEach( el => { %>
            <% if(el.category === 'food'){ %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    
                    <span class='del'>&nbsp;Delete </span>
                </li>
            <% } %>
        <% }) %>    
    </ul>
    <h2>Category: Vendors</h2>
    <ul>
        <% todos.forEach( el => { %>
            <% if(el.category === 'vendors'){ %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    
                    <span class='del'>&nbsp;Delete </span>
                </li>
            <% } %>
        <% }) %>    
    </ul>
    <h2>Category: Clothing</h2>
    <ul>
        <% todos.forEach( el => { %>
            <% if(el.category === 'clothing'){ %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                    
                    <span class='del'>&nbsp;Delete </span>
                </li>
            <% } %>
        <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="date" id="dateDue" name="dateDue"
       min="2022-01-01" max="2024-12-31">

       <!-- mdcv: Added dropdown menu to select priority level -->
        <select id="category" name="category">
            <option value="" selected="true" disabled="disabled">Select Category</option>
            <option name="category" value="food">Food</option>
            <option name="category" value="vendors">Vendors</option>
            <option name="category" value="clothing">Clothing</option>
        </select>
        <input type="submit">
    </form>



    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>